<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net462" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.1-beta1" targetFramework="net462" />
  <package id="HtmlRenderer.WinForms" version="1.5.1-beta1" targetFramework="net462" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net462" />
  <package id="Markdig" version="0.15.0" targetFramework="net462" />
  <package id="Microsoft.Build.Framework" version="15.9.20" targetFramework="net462" />
  <package id="Microsoft.Build.Utilities.Core" version="15.9.20" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net462" developmentDependency="true" />
  <package id="MSBuild.Extension.Pack" version="1.9.1" targetFramework="net462" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net462" />
  <package id="PDFsharp" version="1.50.4000-beta3b" targetFramework="net462" />
  <package id="Svg" version="2.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
</packages>